@import url(http://allfont.net/allfont.css?fonts=amazone-bt);
body {
  width: 100%;
  height: 1800px; }

body {
  color: #000000;
  background: url(../../images/backbone.png); }

.header {
  width: 100%;
  height: 156px;
  display: flex;
  flex-flow: wrap column; }

.title_logo {
  width: 100%;
  height: 73px;
  background: url(../../images/title_grid_mobile.png) no-repeat top;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  order: 2;
  position: relative;
  top: -48px; }
  .title_logo::after {
    content: '';
    border-top: 48px solid #E71B23;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1; }
  .title_logo::before {
    content: '';
    border-bottom: 48px solid #FFFFFF;
    position: absolute;
    top: 50px;
    width: inherit;
    z-index: -1;
    box-shadow: -1px 6px 23px -12px rgba(0, 0, 0, 0.75); }

.pizza_logo {
  background: url(../../images/header_middle.png) no-repeat center;
    background-size: 241px 118px;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  padding-top: 48px;
  width: 100%;
  height: 117px;
  position: absolute;
  top: 48px; }

.nav_gb {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  padding: 6px;
  z-index: 1; }
  .nav_gb a {
    display: flex;
    margin: 0 8px;
    font-size: 10px; }

.nav_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  top: -65px;
  order: 3; }
  .nav_main a {
    display: table;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 54px;
    height: 33px;
    background-color: #fcfcfc;
    text-align: center;
    line-height: 33px;
    color: #ed1c24;
    font-size: 10px;
    margin: 0 7px; }

.main {
  position: relative;
  top: -23px; }

.main_upper {
  background: url(../../images/main_back.png) no-repeat center;
    background-size: 400px 400px;
  width: 100%;
  height: 370px; }

.main_logo {
  width: 100%;
  display: flex;
  justify-content: center; }

.main_logo img {
  position: relative;
  top: 49px;
  transform: scale(0.6); }

.arrow_left, .arrow_right {
  width: 46px;
  height: 64px;
  background-color: #e6131b;
  border: 1px solid #970509;
  position: relative;
  top: -123px; }

.arrow_left::after, .arrow_left::before, .arrow_right::after, .arrow_right::before {
  width: 29px;
  border-bottom: 5px solid #FFF;
  position: absolute; }

.arrow_left {
  float: left; }
  .arrow_left::after {
    content: '';
    transform: rotate(45deg);
    top: 36px;
    left: 7px; }
  .arrow_left::before {
    content: '';
    transform: rotate(-45deg);
    top: 18px;
    left: 7px; }

.arrow_right {
  float: right; }
  .arrow_right::after {
    content: '';
    transform: rotate(-45deg);
    top: 36px;
    left: 7px; }
  .arrow_right::before {
    content: '';
    transform: rotate(45deg);
    top: 18px;
    left: 7px; }

.main_article span p {
  font-family: 'Amazone BT', arial;
  color: #ed1c24;
  font-size: 22px; }

.main_article span {
  width: 100%;
  height: 70px; }

.p_content {
  padding-left: 25px;
  padding-right: 25px; }
  .p_content :nth-child(2) {
    float: right; }

.third > .button_visit {
  display: table;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 128px;
  height: 33px;
  background-color: #fcfcfc;
  text-align: center;
  line-height: 33px;
  color: #ed1c24;
  font-size: 14px;
  margin-left: 170px;
  margin-right: 30px; }

.main_article span, .main_articles, .main_article {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  align-items: center; }

.main_article {
  display: flex;
  width: 315px;
  height: 217px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  box-shadow: 0px -10px 21px -9px rgba(0, 0, 0, 0.39);
  margin: 0 4px; }

.pictures {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center; }

.food_picture1, .food_picture2, .food_picture3 {
  width: 88px;
  height: 88px;
  border: 2px solid #cdcdcd;
    border-radius: 88px; }

@media screen and (max-width: 800px) {
  .second, .third {
    box-shadow: none; } }

.food_picture1 {
  background: url(../../images/article_picture1.png) no-repeat center; }

.food_picture2 {
  background: url(../../images/article_picture2.png) no-repeat center; }

.food_picture3 {
  background: url(../../images/article_picture3.png) no-repeat bottom; }
