.container{
	width: 1200px;
	height: 1600px;
	margin-left:auto;
	margin-right: auto;
}

.col{margin-left:10px;text-align:center; color: white; background-color: #8DDB5D; height: 24px;}

.col1{width: 80px}
.col2{width: 180px}
.col3{width: 280px}
.col4{width: 380px}
.col5{width: 480px}
.col6{width: 580px}
.col7{width: 680px}
.col8{width: 780px}
.col9{width: 880px}
.col10{width: 980px}
.col11{width: 1080px}
.col12{width: 1180px}

.row{margin-bottom: 24px;}
.row::after{content: '';display: block;clear: both;}

.row1{height: 24px;}
.row2{height: 48px;}
.row3{height: 72px;}
.row4{height: 96px;}
.row5{height: 120px;}
.row6{height: 144px;}
.row7{height: 168px;}
.row8{height: 192px;}
.row9{height: 216px;}
.row10{height: 240px;}
.row11{height: 264px;}
.row12{height: 288px;}
.row13{height: 312px;}
.row14{height: 336px;}
.row15{height: 360px;}
.row16{height: 384px;}
.row17{height: 408px;}
.row18{height: 432px;}
.row19{height: 456px;}
.row20{height: 480px;}
.row21{height: 504px;}
.row22{height: 528px;}
.row23{height: 552px;}
.row24{height: 576px;}
.row25{height: 600px;}
.row26{height: 624px;}
.row27{height: 648px;}
.row28{height: 672px;}
.row29{height: 696px;}
.row30{height: 720px;}
.row31{height: 744px;}
.row32{height: 768px;}
.row33{height: 792px;}
.row34{height: 816px;}
.row35{height: 840px;}
.row36{height: 864px;}
.row37{height: 888px;}













