.container{
  width: 62.5rem;
  padding-top: 3%;
  text-align: center;
  /*height: auto;*/
/*  margin left: 5rem;
  margin-right: 5rem;*/
  
}

body {
  background: url(gallery1.png);
  background-repeat: no-repeat;
}
  
[class*='box']{
  margin:1em;
  box-shadow: 10px 10px 5px #888888;
  float: left;
  width: 12vw;
  height: 16vh;
 /* text-align: center;*/
}

img {
  float: left;
}

.box1{
  background-color:#63a2fc;
  border: 4px solid black;
  display: block;
  float: left;
}

.box2{
  background-color:#ff00ff;
  border: 3px solid black;
  display: block;
  float: left;
}

.box3{
  background-color:#b3d465;
  border: 4px solid black;
  display: block;
  float: left;
  margin-left: 2em;
  
}

.box4{
  background-color: #FF661A;
  border: 4px solid black;
  display: block;
  float: left;
  margin-left: 2em;
  
}
